<div class="header">
    <div class="wrapper">
        <div class="left">
            <h1><a href="/user/admin/">Learning Management System</a></h1>
        </div>
        <div class="center">
            <p class="navbar-text">管理员名称：</p>
            <p class="navbar-text">{{ username }}</p>
            <p class="navbar-text">工号：</p>
            <p class="navbar-text">{{ numberId }}</p>
            <p class="navbar-text"><a href="#" id="change-password">修改密码</a></p>
            <p class="navbar-text"><a href="/user/logout">退出登录</a></p>
        </div>
        <div class="right">
            <form class="search">
                <span class="input-box-span"><input class="input-box-span-input" type="text" placeholder="Search"
                                                    id="search-input" name="search_input"></span>
                <button type="button" class="btn" id="search">Search</button>
            </form>
        </div>
    </div>
</div>