<div class="wrap-dialog hide" id="change-password-dialog">
    <div class="change-password dialog">
        <div class="dialog-header">
            <span class="dialog-title">修改密码</span>
        </div>
        <div class="dialog-body">
            <form class="up-pwd">
                <div class="input-box">
                    <label class="input-box-label" for="old-password">Old Password</label><span
                        class="input-box-span"><input
                        class="input-box-span-input" type="password" id="old-password"
                        placeholder="Please enter the old password."
                        name="old_password"></span>
                </div>
                <div class="input-box">
                    <label class="input-box-label" for="new-password">New Password</label><span
                        class="input-box-span"><input
                        class="input-box-span-input" type="password" id="new-password"
                        placeholder="Please enter the new password."
                        name="new_password"></span>
                </div>
                <div class="input-box">
                    <label class="input-box-label" for="confirm-password">Confirm Password</label><span
                        class="input-box-span"><input
                        class="input-box-span-input" type="password" id="confirm-password"
                        placeholder="Please enter the new password again."
                        name="confirm_password"></span>
                </div>
            </form>
        </div>
        <div class="dialog-footer">
            <input type="button" class="btn submit" id="pwd-submit" value="提交"/>
            <input type="button" class="btn cancel" value="关闭"/>
        </div>
    </div>
</div>