<div class="header">
    <div class="wrapper">
        <div class="left">
            <h1><a href="/user/instructor/">Learning Management System</a></h1>
        </div>
        <div class="center">
            <p class="navbar-text"stu_id="{{user_id}}" id="stu">Student Name:</p>
            <p class="navbar-text">{{ username }}</p>
            <p class="navbar-text">Student ID:</p>
            <p class="navbar-text">{{ numberId }}</p>
            <p class="navbar-text"><a href="#" id="change-password">Change Password</a></p>
            <p class="navbar-text"><a href="/user/logout">Log Out</a></p>
        </div>
        <div class="right">
            <form class="search" id="search-form">
                <span class="input-box-span"><input class="input-box-span-input" type="text" placeholder="Search"
                                                    id="search-input" name="search_input"></span>
                <button type="button" class="btn" id="search">Search</button>
            </form>
        </div>
    </div>
</div>