<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8">
    <title>404 Error Page</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <style>
        body {
            background-color: #c0e8d8;
        }
        .content {
            margin: 150px 0;
            text-align: center;
        }
        .content h1 {
            color: #5d7399;
            font-size: 45px;
            margin-bottom: 20px;
        }
        .content div a {
            color: #06c;
            font-size: 16px;
        }
        .content div a:hover {
            color: #222426;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>Oh no!<br>The page is missing.</h1>
    <div><a href="/">Back Homepage</a></div>
</div>
</body>
</html>